/* CSS cho tất cả các nút */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination li a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 0 5px; */
}

.pagination li a:hover {
  background-color: #ddd;
}

.pagination .previous,
.pagination .next,
.pagination .page {
  display: inline-block;
  /* padding: 5px 10px; */
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 ;
}

.pagination .previous,
.pagination .next {
  font-weight: bold;
}

.pagination .previous:hover,
.pagination .next:hover,
.pagination .page:hover {
  background-color: #ddd;
}

.pagination .active a{
  background-color: rgb(119, 196, 240);
  color: white;
}


.table
{
  /* height: 340px; */
  
}

 .table tr td{
  /* text-align: left; */
  /* display: inline-block; */
  height: 55px;
 } 

.button_edit_element{
  position: relative;
  width: 130px !important;
}

.form_selects{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.wrapper_edit_itemForm{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.edit_item{
  /* padding: 10px; */
  height: 400px;
  width: 800px;
  background-color: bisque;
  margin: auto;
  z-index: 999;
}
.header_edit_item{
  width: 100%;
  background-color: white;
}
.icon_close{
  margin-left: auto;
  display: flex;
    /* border-radius: 50%; */
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    padding: 5px;
    cursor: pointer;
    color: #ccc;
    font-size: 20px;
}
.icon_close:hover{
    color: red;

}

.container_edit_item{
  background-color: bisque !important;
  
}
.table-wrapper {
  /* min-height: 200px; Đặt kích thước cố định cho bảng */
}