

.wrapper_banner {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    height: 550px;
    // height: fit-content;
    background-color:  #ffff;
    
}

.product_slider{
    display: block;
    height: 100%;
    background-color: green;
    margin: 0 5px 0 5px;
    border-radius: 10px;
    overflow: hidden;
}
.discouts_item{
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // background-color: red;
    margin: 0 5px 0 5px;

}
.discouts{
    border-radius: 10px;
}
.discouts_1{
    background-color: orange;
    margin-bottom: 2.5px;

}
.discouts_2{
    background-color: green;
    margin-top: 2.5px;
}

.col-4 {
    flex: 2;
}

.col-6 {
    flex: 3;
}
.row-2{
    flex: 1;
}

// .carousel-container {
//     // height: 400px; /* Chiều cao cố định cho Carousel */
//     height: 100%;
//     position: relative;
//   }
  
//   .carousel-image {
//     height: 100%;
//     width: auto;
//     object-fit: contain; /* Đảm bảo ảnh vừa khung */
//   }
  
//   .mini-images {
//     display: flex;
//     justify-content: center;
//     gap: 10px;
//     margin-top: 10px;
//   }
  
//   .mini-image {
//     height: 50px;
//     width: auto;
//     object-fit: contain; /* Đảm bảo ảnh vừa khung */
//   }