@media(max-width:767px) {
    .card {
        margin: 3vh auto;
    }
}

.card {
    margin-top: 20px;
    border-radius: 0;
    padding: 10px 0 !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    border-color: rgb(236, 99, 74) !important;
    /* width: 500px; */

}

.father {
    position: relative;
    min-height: 700px;
    /* width: ; */
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;


}

.summary {
    position: absolute;
    bottom: 0;
    right: 0;
    top:    0px;
    /* background-color: #ddd; */
    background-color: rgb(236, 99, 74);
    border: 10px solid #fcdab0b3;
    margin-top: 50px;
    /* padding: 4vh; */
    /* color: rgb(65, 65, 65); */
    max-height: 700px;
    width: 500px !important;
    color: #000;
}


.row {
    margin: 0;
}

.back-to-shop {
    position: absolute;
    bottom: 5px;
    left: 12px;
    color: black !important;
    text-decoration: none;
}

.back-to-shop :hover {
    background-color: none;
    color: blue;
}

.text-muted {
    color: #000 !important;
}

h5 {
    margin-top: 3vh !important;
}

.location {
    padding-top: 2vh;
}

form {
    padding: 2vh 0;

}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.input_cartPage {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    /* margin-bottom: 4vh; */
    outline: none;
    width: 90%;
    background-color: rgb(247, 247, 247);
}

.location_phone {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.location_phone>select {
    /* width: 90%; */
    justify-content: space-around;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

/* phần giá trị gốc  */
.price_show {
    background-color: #fff;
    height: 110px;
    color: #000;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 5px solid #FCDAB0;

    /* justify-content: space-between; */
}

.price_show div {
    width: 100%;
    flex: 1;
    /* justify-content: center; */
    align-items: center;
}

.boder_top {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.boder_bot {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

