@media(max-width:767px) {
    .card {
        margin: 3vh auto;
    }
}

.card {
    margin-top: 20px;
    border-radius: 0;
   
}
.father{


}
.cart {
    background-color: #fff;
    padding: 4vh 5vh;
 

}

.summary {
    position: fixed;
    bottom: 0;right: 0;top: 90px;
    background-color: #ddd;
    /* padding: 4vh; */
    color: rgb(65, 65, 65);
    /* width: 500px; */
}


.row {
    margin: 0;
}


.price_close {
    display: flex;
}

.close {
    margin-left: auto;
}

.close:hover {
    color: red;
    cursor: pointer;
}

.price {
    font-size: 18px;
    color: black;
}

.img_product {
    width: 3.5rem;
}

.back-to-shop {
    position: absolute;
    bottom: 5px;
    left: 12px;
    color: black !important;
    text-decoration: none;
}
.back-to-shop :hover{
    background-color: none;
color: blue;
}
.text-muted{
    color: #000 !important;
}

h5 {
    margin-top: 4vh;
}

form {
    padding: 2vh 0;
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.input_cartPage {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none;
}

.button_pay{
    background-color: rgb(68, 68, 146);

}

.btn:hover {
    color: white;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}


.header_cart_title {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 20px;
}

.Heading_title_cart {
    text-align: start;
    margin: 0;
    flex: 1;
}
.container_product_item{
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    /* margin-right: 10px; */
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(221, 221, 221, 0.445);
}

/* test tăng giảm số lượng */

.minus_plus {
    display: flex;
    align-items: center;
}

a.minus {
    text-decoration: none;
    color: black;
    /* padding: 0.25rem 0.5rem; */
    height: 30px;
    width: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    /* font-size: 13px; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 0.5rem;
}

a.border {
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

.plus:hover ,.minus:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);

}

a.plus {
    text-decoration: none;
    color: black;
    height: 30px;
    width: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 0.5rem;
}

a:hover {
    /* background-color: #eee; */
}

.main {
    padding: 5px 0;
}

