.container_edit_item {
    height: 100%;
    padding: 5px !important;
}

.form_edit_input {
    display: flex;
    height: 100%;
}

.form_edit_input_left {
    flex: 3;
    display: block;

    background-color: aliceblue;
    margin-right: 5px;
}

.form_edit_input_right {

    flex: 2;
    display: flex;
    flex-direction: column;

}

.form_edit_right_image {
    flex: 1;
    background-color: aqua;
    margin-bottom: 2.5px;
}

.form_edit_save_cancel {
    flex: 1;
    background-color: blueviolet;
    margin-top: 2.5px;


}

.form_container {
    height: 100%;
    padding: 30px 20px;
}

.form_input {
    display: flex;
    margin-bottom: 15px;

}

.text_span_input {
    /* padding: 5px 20px; */
    width: 33%;
    /* line-height: 100%; */
    display: flex;
    align-items: center;
}

.text_span_input span {
    font-size: 16px;
}

.form-control {
    margin-left: 20px !important;
}

.btn {
    width: 100px;
}

.button_edit_delete {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.text_form_control {
    margin: 0;
    width: 66%;

}

.table{
    height: 400px;
}